<section class="bg-main-light my-4 p-4 rounded-2">
  <div>
    <h2>Enter your verfication email</h2>
    <form [formGroup]="verifyForm" (ngSubmit)="handleForm()">
      <label for="email">Email</label>
      <input
        #inputEmail
        type="email"
        id="email"
        formControlName="email"
        class="form-control mb-4"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          verifyForm.get('email')?.errors &&
          (verifyForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="verifyForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="verifyForm.get('email')?.getError('email')">email invalid</p>
      </div>
      <button [disabled]="verifyForm.invalid" class="btn-main">
        Send Code
      </button>
    </form>
  </div>
</section>
