<section class="w-75 mx-auto bg-main-light p-4">
  <h2>Shop Cart</h2>
  <p class="text-main">
    Total Price :
    {{ cartDetails.totalCartPrice | currency : " EGP " }}
  </p>
  <div class="row py-2 border-bottom" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
      <img
        [src]="item.product.imageCover"
        [alt]="item.product.title"
        class="w-100"
      />
    </div>
    <div class="col-md-11">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h3 class="h5">{{ item.product.title }}</h3>
          <p class="text-main">price : {{ item.price | currency : " EGP " }}</p>
          <button
            (click)="removeCartItem(item.product._id)"
            class="btn text-main"
          >
            <i class="fa-solid fa-trash"></i> Remove
          </button>
        </div>
        <div>
          <button
            (click)="changeItem(item.product._id, item.count + 1)"
            class="btn text-main border-2 border"
          >
            +
          </button>
          <span class="px-3">{{ item.count }}</span>
          <button
            class="btn text-main border-2 border"
            (click)="changeItem(item.product._id, item.count - 1)"
          >
            -
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <!-- <button class="btn btn-danger my-2 h6" (click)="clearAll()">
      Clear cart
    </button> -->
    <button
      [routerLink]="['/checkout', cartDetails._id]"
      class="btn-main my-2 h6"
    >
      pay
      <img src="./assets/images/visa-1.svg" class="w-50" />
    </button>
  </div>
</section>
