<section class="bg-main-light my-4 p-4 rounded-2">
  <div>
    <h2>Enter your verfication email</h2>
    <form [formGroup]="resetForm" (ngSubmit)="handleForm()">
      <label for="email">Email</label>
      <input
        #inputEmail
        type="email"
        id="email"
        formControlName="email"
        class="form-control mb-4"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          resetForm.get('email')?.errors &&
          (resetForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="resetForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="resetForm.get('email')?.getError('email')">email invalid</p>
      </div>

      <label for="newPasswrod">new passwrod</label>
      <input
        #inputPassword
        type="password"
        id="newPasswrod"
        formControlName="newPassword"
        class="form-control mb-4"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          resetForm.get('newPassword')?.errors &&
          (resetForm.get('newPassword')?.touched ||
            inputPassword.value.length > 0)
        "
      >
        <p *ngIf="resetForm.get('newPassword')?.getError('required')">
          password is required
        </p>
        <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">
          password must start with upperCase then from 6 to 10
        </p>
      </div>
      <button [disabled]="resetForm.invalid" class="btn-main">Send Code</button>
    </form>
  </div>
</section>
